
*, *:before, *:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-family: 'New Tegomin', serif;
}

html, body {
    height: 100%;
}

body {
    font-size: 14px;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
#container {
    width: 75%;
    height: 60%;
    margin-bottom: 1.5em;
}

.sky {
    background: rgb(138, 188, 221);
    width: 100%;
    height:40%;
}

.sun {
   background: radial-gradient(#f5f4b9, #f1da05);
   border-radius: 50%;
   min-width: 5vw;
   min-height: 5vw;
   margin: 10px 10px;
   float: right;
}

.sand {
    background: rgb(236, 236, 201);
    width: 360%;
    height: 5%;
}

#viewport {
    width: 100%;
    height: 70%;
    position: relative;
    overflow-x: auto;
    background-image: url(../images/water0.png);
}

#ports {
    display: flex;
    justify-content: space-around;
}

#ports > .port {
    width: 4em;
    height: 2em;
    background-image: url('../images/port.png');
    transform: rotate(180deg) skew(-10deg);
}

#ship {
    width: 128px;
    height: 64px;
    background-image: url(../images/ship.png);
    position: absolute;
}

#sailButton {
    border: 0;
    background: #2089b3;
    /* border-color: 4px solid #D8040F; */
    color: #fff;
    font-family: inherit;
    padding: 1em 2em;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

#sailButton:focus {
    background: #395dd4;
    border-bottom-width: 0;
    padding-top: 1em;
}

#message {
    background: #2089b3;
    font-family: inherit;
    color: #fff;
    padding: 1em;
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0;
    text-align: center;
    
}